@model AddProviderFormModel

@{ 
    ViewData["Title"] = "Add Provider";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center">Добави доствчик</h2>

            <div class="form-group">
                <label asp-for="Name">Име на доставчик</label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Number">Номер на доставчик</label>
                <input asp-for="Number" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="AddressId">Адрес</label>
                <input asp-for="AddressId" class="form-control" >
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>
