@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Добре дошли в Eatery POS System</h1>
    <h5 class="text-primary">Едно оригинално решение за вашето заведение или комплекс</h5>
</div>
