<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eatery POS System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Eatery POS System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Базови данни
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddCity">Добави град</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddDocumentType">Добави тип документ</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddMeasurement">Добави мерна единица</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddPaymentType">Добави тип плащане</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddPosition">Добави длъжност</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddProductType">Добави тип продукт</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddStore">Добави обект</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="AddWarehouse">Добави склад</a>
                                <a class="dropdown-item" asp-area="" asp-controller="BaseData" asp-action="ImportBaseData">Импорт базови данни</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Склад
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Storekeeper" asp-action="AddMaterialToWarehouse_1">Добави материал в склад</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Storekeeper" asp-action="AddMaterial">Добави нов материал</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Storekeeper" asp-action="AddProvider">Добави нов доставчик</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Storekeeper" asp-action="AddAddress">Добави нов адрес</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Storekeeper" asp-action="ImportStorekeeperData">Импорт дани</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Маркиране
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Seller" asp-action="ChooseStore">Избери обект продажби</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Seller" asp-action="ChooseStore">Обекти за маркиране</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Eatery POS System
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
