@model AddCityFormModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Град</label>
        <input asp-for="Name" class="form-control" placeholder="София, Пловдив...">
    </div>
    <div class="form-group">
        <label asp-for="PostalCode">Пощенски код</label>
        <input asp-for="PostalCode" class="form-control" placeholder="1000">
    </div>
</form>
