@model AddDocumentTypeFormModel

@{
    ViewData["Title"] = "Add Document Type";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center">Добави тип документ</h2>

            <div class="form-group">
                <label asp-for="Name">Тип докумет</label>
                <input asp-for="Name" class="form-control" placeholder="фактура...">
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>
