@model AddPositionFormModel

@{
    ViewData["Title"] = "Add Position";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center font-weight-bold text-primary">Добави длъжност</h2>

            <div class="form-group">
                <label asp-for="Name">Длъжност</label>
                <input asp-for="Name" class="form-control" placeholder="касиер, сервитьор...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>

