@model CloseBillFormModel

@{
    ViewData["Title"] = "Close Bill";
}

<form method="post">
    <div class="row">
        <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6">
            <partial name="_BillPartial" model="@Model" />
            <div class="border">
                <div>
                    <div class="text-right m-2">
                        <h6>Общо @Model.TotalSum.ToString("#,##0.00") лв.</h6>
                    </div>
                    <div class="text-left">
                        <h6 class="text-danger">Неприключена сметка</h6>
                    </div>
                </div>
            </div>
            <div class="m-2">
                <a asp-controller="Seller" asp-action="Table" class="btn btn-outline-secondary btn-block">Назад</a>
            </div>
            <div class="form-group text-center">
                <div>
                    <label asp-for="PaymentTypeId">Избери тип плащане</label>
                </div>
                <div>
                    <select asp-for="PaymentTypeId">

                        @foreach (var paymentType in Model.PaymentTypes)
                        {
                            <option value="@paymentType.Id">@paymentType.Name</option>
                        }
                    </select>
                </div>
                <span asp-validation-for="PaymentTypeId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-outline-success" type="submit" value="Приключи" />
            </div>
        </div>
    </div>
</form>
