@model BillsForDateFormModel

@{
    ViewData["Title"] = "Bills For Date";
}

<div class="row">
    <div class="col-sm-12 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
        <form method="post">
            <h2 class="text-center font-weight-bold text-primary">Клиентски сметки за дата</h2>
            <div class="form-group offset-1 col-10">
                <label asp-for="DateTime">Избери дата</label>
                <input asp-for="DateTime" class="form-control">
                <span asp-validation-for="DateTime" class="small text-danger"></span>
            </div>
            <div class="offset-2 col-8">
                <label asp-for="Closed">Затворени сметки</label>
                <input type="checkbox" asp-for="Closed" class="custom-checkbox">
                <span asp-validation-for="Closed" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Продължи" />
            </div>
        </form>
    </div>
</div>