@model RecipeFormModel

@{
    ViewData["Title"] = "Recipes";
}

@{
    var storeProductId = 0;
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
        <form method="post">
            <h2 class="text-center font-weight-bold text-primary">Избери рецепта</h2>
            <div class="form-group">
                <select asp-for="StoreProductId" class="form-control">
                    @foreach (var recipe in Model.Recipes.Distinct())
                    {
                        if (recipe.StoreProductId != storeProductId)
                        {
                            <option value="@recipe.StoreProductId">Рецепта '@recipe.Name' за продукт '@recipe.StoreProductName' в обект '@recipe.StoreName'</option>
                        }
                        storeProductId = recipe.StoreProductId;
                    }
                </select>
                <span asp-validation-for="StoreProductId" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Продължи" />
            </div>
        </form>
    </div>
</div>